@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 37px;
    color: #FFFFFF;
    font-weight: 700;
}

h2 {
    font-size: 23px;
    color: #000000;
}

strong {
    font-weight: bold;
}

.criar-quizz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-basica {
    width: 100vw;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin-top: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.input input {
    outline: 0;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    height: 46px;
    margin-bottom: 10px;
    padding: 15px;
}

.input h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.input input::placeholder {
    color: #BABABA;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

.criar-quizz button {
    width: 368px;
    height: 54px;
    margin-top: 60px;
    color: white;
    font-size: 21px;
    border: none;
    border-radius: 15px;
    background-color: #EC362D;
}

.incorreta {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.esconder {
    display: none;
}

@media (max-width: 1100px){
    .input{
        width: 90vw;
    }
    .criar-quizz button {
        width: 90vw;
    }
}