@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 37px;
    color: #FFFFFF;
    font-weight: 700;
}

h2 {
    font-size: 23px;
    color: #000000;
}

strong {
    font-weight: bold;
}

/* Classes que estou utilizando */
.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 77px;

}

.pagina_quizz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quiz_topo {
    height: 227px;
    width: 100%;
    position: relative;
}

.quiz_topo::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
    z-index: 1;
}

.quiz_topo img {
    height: 227px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.certa {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #009C22;
}

.errada {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF4B4B;

}

.opacidade {
    opacity: 0.3;
}

.quiz_conteudo {
    margin-top: 69.61px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    border-radius: 0px;
}

.container_pergunta {
    height: auto;
    width: 759px;
    padding: 0 35px;
    box-shadow: 0px 0px 10px 0px #0000000D;
    padding: 28px 37px;
}

.container_final {
    width: 759px;
    border-radius: 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #0000000D;
    margin-top: 44px;

}

.container_final>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    margin-top: 18px;
}

.container_final_imagens {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerda {
    width: 50%;
}

.direita {
    display: flex;
    align-items: flex-start;
    width: 50%;
    height: 273px;
    margin-left: 21px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    color: #484848;
    word-break: break-all;
}

.imagem_resultado {
    height: 273px;
    width: 364px;
    object-fit: cover;
}



.pergunta {
    height: 138px;
    border-radius: 0px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    word-break: break-all;
}

.pergunta1 {
    padding: 35px 38px;
    height: 99px;
    width: 100%;
    border-radius: 0px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #EC362D;
    word-break: break-all;

}

.reiniciar {
    height: 52px;
    width: 260px;
    background-color: #EC362D;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 57px;
    margin-bottom: 16px;
    border-radius: 15px;
    color: #FFF5F4;
    cursor: pointer;
}

.voltar_home {
    height: 44px;
    width: 220px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #818181;
    cursor: pointer;
}

.resposta {
    width: 330px;
    margin-right: 12px;
}

.resposta p {
    margin-top: 10px;
    margin-bottom: 18px;
    height: 34px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.container_respostas {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagens_resposta {
    height: 176px;
    width: 330px;
    border-radius: 0px;
}

.nossos_quizzes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 181px;
    width: 1051px;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
    background-color: #fafafa;

}

.nossos_quizzes_ativado {
    width: 1051px;
    display: flex;
    flex-direction: column;
}

.titulo_nossos_quizzes {
    display: flex;
    align-items: center;
    width: 100%;
}

.mais {
    font-size: 31px;
    color: red;
    margin-left: 17px;
}

.titulo_nossos_quizzes p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
}

.nossos_quizzes_lista {
    display: flex;
    flex-wrap: wrap;
}

.nossos_quizzes>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 107px;
    width: 250px;
    margin-top: 7px;
    border-radius: nullpx;


}

.nossos_quizzes>div>p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #b9b9b9;
}

.outros_quizzes {
    display: flex;
    flex-direction: column;
    margin-top: 77px;
    width: 1051px;
}

.outros_quizzes p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;

}

.lista_posts {
    display: flex;
    flex-wrap: wrap;
}

.post {
    display: flex;
    position: relative;
    align-items: flex-end;
    height: 181px;
    width: 340px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 12px;
    background-size: 100% 100%;
    word-break: break-all;
}
.imagem_meuquizz{
    width: 100%;
    height: 100%;
}

.post::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    z-index: 1;
}

.texto_posts {
    position: absolute;
    width: 90%;
    margin-bottom: 14px;
    margin-left: 18px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #fafafa;
    z-index: 2;
    word-break: break-all;

}.texto_posts1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 113.5px;
    width: 100%;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #fafafa;
    z-index: 2;
    word-break: break-all;
    padding: 0 33px;
}

.criar_quizz {
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    height: 40px;
    width: 151px;
    border-radius: 50px;
    background-color: #fafafa;
    color: #EC362D;
    border: 1px dashed #EC362D;
    margin-bottom: 33px;

}

/* Classes que estou utilizando */

.criar-quizz {
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 85px 0;
}

.campo {
    margin-bottom: 9px;
}

.input {
    margin-top: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.input input {
    outline: 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    height: 46px;
    padding: 15px;
}

.input h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.input input::placeholder {
    color: #BABABA;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

input[type="submit"] {
    width: 368px;
    height: 54px;
    margin-top: 60px;
    color: white;
    font-size: 21px;
    border: none;
    border-radius: 15px;
    background-color: #EC362D;
    cursor: pointer;
    outline: 0;
}

.input .descricao {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 100%;
    height: 177px;
    overflow: hidden;
}

.input .descricao::placeholder {
    color: #bababa;
    font-style: italic;
    font-size: 19px;
    text-align: start;
}

input:focus {
    outline: 0;
}

.nivel {
    display: flex;
    flex-direction: column;
}

.question {
    display: flex;
    flex-direction: column;
}

.incorreta {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.titulo-pergunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sucesso-quizz {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    align-items: center;
}

.card2 {
    margin-top: 30px;
    position: relative;
}

.card2 span {
    position: absolute;
    font-weight: 400;
    bottom: 20px;
    left: 30px;
    font-size: 19px;
    color: #FFFFFF;
}

.card2 img {
    width: 90vw;
    height: 266px;
    border-radius: 5px;
    object-fit: cover;
}

.sucesso-quizz.sucesso input[type="submit"] {
    width: 45vw;
    height: 44px;
}

.sucesso-quizz.sucesso a {
    margin: 20px 0;
    text-decoration: none;
    color: #818181;
    font-size: 18px;
    font-weight: 400;
}

.esconder {
    display: none;
}

.error-validation {
    color: #EC362D;
    font-size: 10px;
}

.template {
    display: none;
}

@media (max-width: 1100px) {
    h2 {
        font-size: 20px;
    }

    .criar-quizz {
        width: 100%;
    }

    input[type="submit"] {
        width: 323px;
        font-size: 18px;
        margin-top: 53px;
    }

    .card2 img {
        height: 181px;
    }

    .sucesso-quizz.sucesso a {
        font-size: 18px;
    }

}
@media (max-width: 1100px){
    .posts{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
    .post{
        width: 100%;
    }
    main{
        width: 100%;
    }
    .nossos_quizzes{
        width: 100%;
    }
    .nossos_quizzes_ativado{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    body{
        width: 100%;
    }
    .imagem_meuquizz{
        object-fit: cover;
    }
    .imagens_resposta{
        object-fit: cover;
        width: 100%;
    }
    .nossos_quizzes_lista{
        flex-direction: column;
        width: 100%;
    }
    .resposta{
        width: 40%;
    }
    .outros_quizzes{
        width: 100%;
    }
    .quiz_conteudo{
        width: 100%;
        margin-top: 0px;
    }
    .lista_posts{
        flex-direction: column;
    }
    .container_pergunta{
        margin-top: 40px;
        width: 100%;
        padding: 0 10px;
        height: auto;
    }
    .container_final{
        width: 100%;
    }
    .container_final_imagens{
        width: 100%;
        flex-direction: column;
    }
    .esquerda{
        width: 100%;
    }
    .pergunta{
    font-size: 19px;
    padding: 0 15px;
    }
    .pergunta1{
        font-size: 19px;
        }
    .direita{
        width: 100%;
        margin-left: 0px;
        word-break: break-all;
        display: block;
        height: auto;
    }
    .imagem_resultado{
        object-fit: cover;
        width: 100%;
    }
    .resposta p{
        font-size: 13px;
    }
    .quiz_topo{
        height: 375px;
    }
    .quiz_topo img{
        height: 375px;
    }
    .texto_posts1{
        bottom:  180px;
    }
    .reiniciar{
        margin-top: 34px;
        font-size: 18px;
    }
    .voltar_home{
        font-size: 18px;
    }
   
}